body { 
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
}

body table {
  margin: 0 auto;
}

table {
  border: 0px;
  box-shadow: 5px 10px silver;
}

.headings {
  text-align: center;
}

#submit {
  text-align: center; 
  vertical-align: middle;
  padding: 5px;
}

.redBackground{
  background-color: red;  
}

.viga{
  color:#F00; 
  padding-left:10px;
  font-size: 0.5em;

}